/* simple formulaire */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(exclusive\ pod\ with\ Kairoo.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.form {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(238, 125, 125, 0.384);
    color: #fff;
    border-radius: 25px;
    padding: 30px 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.form h1 {
    font-size: 36px;
    text-align: center;
}

.form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: salmon; */
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 20px;
    color: #fff;
    padding:20px 45px 20px 20px;
}


.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.form .remember-forgot label input {
    margin-right: 3px;
    accent-color: #fff;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.form .register-link {
    text-align: center;
    font-size: 14.5px;
    margin: 20px 0 15px;
}

.register-link P a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link P a:hover {
    text-decoration: underline;
}

/* @media (max-width: 450px) {
    .form {
        width: 225px;
        padding: 20px;
    }
}
@media (max-width: 950px) {
    .form {
        width: 100%;
        padding: 20px;
    }
}
 */
